@using VotingWeb.Properties
@using VotingWeb.Areas.Admin.Models.Municipalities
@model UpdateModel
@{
    ViewBag.Title = MunicipalityAdminRes.PAGE_TITLE;
}

<div id="content">
    <div class="float-right">
        @Html.ActionLink(AdminRes.BUTTON_LIST, "Index", "Municipality", null, new { @class = "btn btn-info" })
    </div>
    <h1>@MunicipalityAdminRes.PAGE_TITLE_CREATE</h1>
    @Html.Partial("~/Areas/Admin/Views/Municipality/PartialUpdate.cshtml", Model)
</div>
