@using VotingWeb.Properties
@{
    ViewBag.Title = AccountRes.FORGOT_TITLE;
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        @AccountRes.FORGOT_SENT_INFO
    </p>
</div>
	
