@using VotingWeb.Properties
@{
    ViewBag.Title = AccountRes.RESET_TITLE;
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        @AccountRes.RESET_DONE @Html.ActionLink(AccountRes.BUTTON_RESET_LOGIN, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
