<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

  <targets>
    <target name="file" xsi:type="File" fileName="${basedir}\LogFiles\log.txt"
            layout="${longdate}|${level}|${callsite}|${aspnet-user-identity}|${message}|
            ${exception:
            innerformat=Message, Method, StackTrace:
            maxInnerExceptionLevel=5:
            format=Message, Method, StackTrace}" />
    <target name="email" xsi:type="Mail"
            subject="Error in VotingWeb (Local Devel)" to="jiri_koudelka@yahoo.co.uk" from="koudelka@cyberfox.cz"
            smtpServer="mail.cyberfox.cz"
            layout="${longdate}|${level}|${callsite}|${aspnet-user-identity}|${message}|
            ${exception:
            innerformat=Message, Method, StackTrace:
            maxInnerExceptionLevel=5:
            format=Message, Method, StackTrace}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="file" />
    <!--<logger name="*" level="Error" writeTo="email" />-->
  </rules>
</nlog>
