@using VotingWeb.Properties
@using VotingWeb.Models
@using VotingWeb.Areas.Admin.Models.Sessions
@model UpdateModel
@{
    ViewBag.Title = SessionAdminRes.PAGE_TITLE;
}

<div id="content">
    <div class="float-right">
        @Html.ActionLink(AdminRes.BUTTON_LIST, "Index", "Session", new { id = Model.MunicipalityId }, new { @class = "btn btn-info" })
    </div>
    <h1>@SessionAdminRes.PAGE_TITLE_UPDATE</h1>
    @Html.Partial("~/Areas/Admin/Views/Session/PartialUpdate.cshtml", Model)
</div>
