@using VotingWeb.Properties
@using VotingWeb.Areas.Admin.Models.Topics
@model UpdateModel
@{
    ViewBag.Title = TopicAdminRes.PAGE_TITLE;
}

<div id="content">
    <div class="float-right">
        @Html.ActionLink(AdminRes.BUTTON_LIST, "Index", "Topic", new { id = Model.SessionId }, new { @class = "btn btn-info" })
    </div>
    <h1>@TopicAdminRes.PAGE_TITLE_CREATE</h1>
    @Html.Partial("~/Areas/Admin/Views/Topic/PartialUpdate.cshtml", Model)
</div>
