@using VotingWeb.Properties
@using VotingWeb.Models
@using VotingWeb.Areas.Admin.Models.Deputies
@model UpdateModel
@{
    ViewBag.Title = DeputyAdminRes.PAGE_TITLE;
}

<div id="content">
    <div class="float-right">
        @Html.ActionLink(AdminRes.BUTTON_LIST, "Index", "Deputy", new { id = Model.MunicipalityId }, new { @class = "btn btn-info" })
    </div>
    <h1>@DeputyAdminRes.PAGE_TITLE_UPDATE</h1>
    @Html.Partial("~/Areas/Admin/Views/Deputy/PartialUpdate.cshtml", Model)
</div>
