@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = AccountRes.RESET_TITLE;
}

<h1>@ViewData["Title"]</h1>
<p>
    @AccountRes.RESET_DONE <a asp-page="./Login">@AccountRes.BUTTON_RESET_LOGIN</a>
</p>
